<header class="content-hero">
        <img src="images/TheFieldlogo.png" alt="The Field Logo">
    </header>

<div class='content-container'>
    <div class='main-post'>Add your post here ...</div>
    <button class='add-post'>Add Post</button> 
    <button class='del-post'>Delete Post</button>
    <div class='main-comment'>Add your comment here ...</div>
    <button class='add-comment'>Add Comment</button>
    <button class='del-comment'>Delete Comment</button>
</div>